In [1]:
import numpy as np
import pandas as pd
import datetime

# Загрузка старых

In [2]:
# old_table = pd.read_csv('/kaggle/input/mmvb-tovar/data.csv')
# # old_table.set_index(['<TICKER>','<DATE>'],inplace=True)
# old_table

In [3]:
# https://mfd.ru/export/?groupId=2&selectedTickers=1*,2*,3*,4*,170*,1878,1924,1925,1926#Tickers=1*%2C2*%2C3*%2C4*%2C170*%2C1878%2C1924%2C1925%2C1926&Alias=false&Period=7&timeframeValue=1&timeframeDatePart=day&StartDate=06.01.2023&EndDate=06.01.2023&SaveFormat=0&SaveMode=0&FileName=mfdexport_1day_06012023_06012023.txt&FieldSeparator=%2C&DecimalSeparator=.&TimeFormat=HHmmss&DateFormatCustom=yyyy-MM-dd&AddHeader=true&RecordFormat=2&Fill=false

def get_new_table(delta_start=-10,delta_end=0):
    end_date = (datetime.datetime.today() + datetime.timedelta(days=delta_end)).strftime('%d.%m.%Y')
    start_date = (datetime.datetime.today() + datetime.timedelta(days=delta_start)).strftime('%d.%m.%Y')
    url = "https://mfd.ru/export/handler.ashx/mfdexport_1day.txt?TickerGroup=2&Tickers=1*%2C2*%2C3*%2C4*%2C170*%2C1878%2C1924%2C1925%2C1926&Alias=false&Period=7&timeframeValue=1&timeframeDatePart=day&StartDate=" + start_date + "&EndDate=" + end_date + "&SaveFormat=0&SaveMode=0&FileName=mfdexport_1day.txt&FieldSeparator=%253b&DecimalSeparator=.&DateFormat=yyyy-MM-dd&TimeFormat=HHmmss&DateFormatCustom=&TimeFormatCustom=&AddHeader=true&RecordFormat=2&Fill=true"
    table = pd.read_csv(url,sep=";")
    new_table = table[["<TICKER>","<DATE>","<CLOSE>","<VOL>"]]
    new_table.set_index(['<TICKER>','<DATE>'],inplace=True)
    new_table
    return new_table

# get_new_table(delta_start=-30,delta_end=-20)

# Закачка последних

In [4]:
new_table = get_new_table()
new_table

                          <CLOSE>  <VOL>
<TICKER>     <DATE>
Gold         2022-12-28  1804.268      0
             2022-12-29  1814.445      0
             2022-12-30  1823.370      0
             2022-12-31  1823.580      0
             2023-01-01  1823.580      0
...                           ...    ...
@Natural gas 2023-01-03     4.014  31015
             2023-01-04     4.155  26862
             2023-01-05     3.756  29042
             2023-01-06     3.734  28979
             2023-01-07     3.734      0

[99 rows x 2 columns]

In [5]:
concat_table = new_table

# Сохранение

In [6]:
concat_table.reset_index(inplace=True)
concat_table

        <TICKER>      <DATE>   <CLOSE>  <VOL>
0           Gold  2022-12-28  1804.268      0
1           Gold  2022-12-29  1814.445      0
2           Gold  2022-12-30  1823.370      0
3           Gold  2022-12-31  1823.580      0
4           Gold  2023-01-01  1823.580      0
..           ...         ...       ...    ...
94  @Natural gas  2023-01-03     4.014  31015
95  @Natural gas  2023-01-04     4.155  26862
96  @Natural gas  2023-01-05     3.756  29042
97  @Natural gas  2023-01-06     3.734  28979
98  @Natural gas  2023-01-07     3.734      0

[99 rows x 4 columns]

In [7]:
concat_table.to_csv("data.csv",index=False)